{% load wagtailcore_tags navigation_tags wagtailmarkdown %}
{% if template_settings.mainmenu_location == side %}
  {% include "wibekwa/includes/mainmenu.html" %}
{% endif %}
{% for sidebar in sidebars %}
  {% if sidebar.location == side %}
    {% for child in sidebar.children %}
      <h4>{{ child.title }}</h4>
      {% if child.body_md > '' %}
        {{ child.body_md|markdown }}
      {% endif %}
      {% if child.body_rt %}
        {{ child.body_rt|richtext }}
      {% endif %}
      {% if child.context.embed_url %}
          <iframe src="{{ child.context.embed_url }}" style="{{ child.context.embed_frame_style }}"></iframe>
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}

