{% load wagtailcore_tags wagtailimages_tags %}

<div class="articletitle"><a href="{% pageurl article_page %}">{{ article_page.title }}</a></div>
{% if show_main_image  %}
  {% image article_page.main_image.image width-800 as main_image %}
    <div class="articleimage"><img src="{{ main_image.url }}" width="80%" alt="{{ main_image.caption }}"></div>
  {% endif %}
<div class="articlemeta">Revised: {{ page.latest_revision_created_at }}</div>
<div class="articlebody">{{ article_page.summary|richtext }}</div>
