{% extends "wibekwa/base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load wagtailmarkdown %}

{% block body_class %}template-articlepage{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date }}</p>

    {% with authors=page.authors.all %}
      {% if authors %}
        <h3>Posted by:</h3>
        <ul>
          {% for author in authors %}
              <li style="display: inline">
                  {% image author.author_image fill-40x60 style="vertical-align: middle" %}
                  {{ author.name }}
              </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    {% if page.show_main_image %}
      {% image page.main_image.image width-800 as main_image %}
        <div class="articleimage">
          <img src="{{ main_image.url }}" width="80%" alt="{% if page.main_image.alt_text %}{{ page.main_image.alt_text }}{% else %}{{ main_image.image.title }}{% endif %}"></a>
        </div>
    {% endif %}

    {% include_block page.body_sf %}

    {% if page.body_md > "" %}
        {{ page.body_md|markdown }}
    {% endif %}

    {% if embed_url %}
      <iframe src="{{ embed_url }}" style="{{ embed_frame_style }}"></iframe>
    {% endif %}

    {% comment %}
     show the gallery if
     the editor wants to show the gallery and
     either there is more than one image or the one image is not already shown as the mmain image
    {% endcomment  %}
    {% if page.show_gallery %}
      {% if not page.show_main_image or page.gallery_images.count > 1 %}
          {% for item in page.gallery_images.all %}
            <div style="float: inline-start; margin: 10px">
              {% image item.image fill-320x240 %}
            </div>
          {% endfor %}
      {% endif %}
    {% endif %}

    {% if page.document %}
      {% if page.show_doc_link %}
        <div class="document">
          <a href="{{ page.document.url }}" target="_blank">{% if page.document.title > "" %}{{ page.document.title }}{% else %}Document{% endif %}</a>({{ page.document.file_extension }})
        </div>
      {% endif %}
    {% endif %}

    {% if visible_tags %}
      <div class="tags">
        <h3>Tags</h3>
        {% for tag in visible_tags %}
          <a href="{{ page.get_parent.url }}?tag={{ tag }}"><button type="button">{{ tag }}</button></a>
        {% endfor %}
      </div>
    {% endif %}

{% endblock %}
