{% extends base_context_settings.base_html %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-articleindexpage{% endblock %}

{% block content %}
    <h1>{{ page.title }}</h1>

    <div class="intro">{{ page.intro|richtext }}</div>

    {% for article_page in article_pages %}
      {% with article_page=article_page.specific %}

        <h2><a href="{% pageurl article_page %}">{{ article_page.title }}</a></h2>

        {% with article_page.main_image as main_image %}
          {% if main_image %}{% image main_image fill-160x100 %}{% endif %}
        {% endwith %}

        <p>{{ article_page.summary }}</p>

      {% endwith %}
    {% endfor %}

{% endblock %}
