{% extends "wibekwa/base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-articleindexpage{% endblock %}

{% block content %}
  {% if page.show_pagetitle %}<h1 class="pagetitle">{{ page.title }}</h1>{% endif %}
  <div class="intro">{{ page.intro|richtext }}</div>

  <div class="articlegroups">
    {% for article_page_group in article_page_groups %}
      {% if forloop.first and first_group_is_special %}
        <div class="specarticlegroup">
      {% else %}
        <div class="articlegroup">
      {% endif %}
      {% if article_page_group.group_title %}<h2 class="grouptitle">{{ article_page_group.group_title }}</h2>{% endif %}
      <div class="articlesets">
        {% for article_page_set in article_page_group.article_page_sets %}
          <div class="articleset">
            {% if show_tag_titles %}<h2>{{ article_page_set.title }}</h2>{% endif %}
            <div class="articles">
              {% for article_page in article_page_set.article_pages %}
                {% include "wibekwa/includes/article_indexentry.html" with show_main_image="True" %}
              {% endfor %}
            </div>
          </div>
        {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
