{% extends base_context_settings.base_html %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block top %}
{{ block.super }}
{% endblock %}
{% block extra_css %}
{{ block.super }}
{% endblock %}
{% block endhead %}
{{ block.super }}
{% endblock %}

{% block content %}
  {% if top_article_page_group.article_pages %}
    <div class="toparticlegroup">
      <div class="articlegroup">
        <div class="articleset">
          {% if show_tag_titles %}<h2>{{ top_article_group.title }}</h2>{% endif %}
          <div class="articles">
            {% for article_page in top_article_page_group.article_pages %}
              {% include "wibekwa/includes/article.html" %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  <div class="articlegroups">
    {% for article_group in article_groups %}
      <div class="articlegroup">
        {% for article_set in article_group.article_sets %}
          <div class="articleset">
            {% if show_tag_titles %}<h2>{{ article_set.title }}</h2>{% endif %}
            <div class="articles">
              {% for article in article_set.articles %}
                {% include "wibekwa/includes/article.html" %}
            {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
{% endblock %}
