{% extends base_context_settings.base_html %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block top %}
{{ block.super }}
{% endblock %}
{% block extra_css %}
{{ block.super }}
{% endblock %}
{% block endhead %}
{{ block.super }}
{% endblock %}

{% block content %}
  {% if top_page_group.pages %}
    <div class="toparticlegroup">
      <div class="articlegroup">
        <div class="pageset">
          {% if show_tag_titles %}<h2>{{ top_page_group.title }}</h2>{% endif %}
          <div class="pages">
            {% for page in top_page_group.pages %}
              {% include "wibekwa/includes/article.html" %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  <div class="articlegroups">
    {% for page_group in page_groups %}
      <div class="articlegroup">
        {% for page_set in page_group.page_sets %}
          <div class="pageset">
            {% if show_tag_titles %}<h2>{{ page_set.title }}</h2>{% endif %}
            <div class="pages">
              {% for page in page_set.pages %}
                {% include "wibekwa/includes/article.html" %}
            {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
  </div>
{% endblock %}
