:root {
    --blue-theme-main-font-color: #333;
    --theme-headline-font-color: #333;
    --theme-special-headline-font-color: #000;
    --theme-dark-line-color: #333;
    --theme-special-sidebar-link-color: #666;
}
