:root {
    --theme-main-font-color: #112855;
    --theme-headline-font-color: #112855;
    --theme-dark-line-color: #032140;

}

header {
    border-bottom-color: var(--theme-dark-line-color);
  }

.site-description {
    color: var(--theme-main-font-color);
}

.sidebar li.menuitem {
    color: var(--theme-main-font-color);
}
.articletitle {
    color: var(--theme-headline-font-color);

}

