:root {
    --theme-main-font-color: #112855;
    --theme-dark-line-color: #032140;
    --theme-headline-font-color: #112855;
    --theme-special-headline-font-color: #09245b;
    --theme-special-sidebar-link-color: #113b8f;
}


