:root {
    --theme-main-font-color: #660000;
    --theme-dark-line-color: #400303;
    --theme-headline-font-color: #861010;;
    --theme-special-headline-font-color: #800202;;
    --theme-special-sidebar-link-color: #880061;;

}
