*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", system-ui, Roboto, "Helvetica Neue", Arial, sans-serif, Apple Color Emoji, "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  min-height: 100vh;
}

.skip-link {
    position: absolute;
    top: -30px;
  }

.skip-link:focus-visible {
    top: 5px;
}

h1.pagetitle {
    margin-top:0;
}

main {
    display:flex;
    flex-wrap: wrap;
}


main .sidebar {
    flex-basis:0;
    flex-grow: 1;
    min-width: 275px;
}

main #content {
    flex-basis: 0;
    flex-grow: 6;
    min-width:300px;
}

.sidebar a {
    font-family:"-apple-system","BlinkMacSystemFont","Segoe UI","system-ui","Roboto","Helvetica Neue","Arial",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    text-decoration: none;
    color: var(--theme-special-sidebar-link-color)
}

#leftsidebar {
    padding-left:2em;
    padding-right:2em;

}
#rightsidebar {
    padding-left:2em;
    padding-right:2em;

}


a {
  color: currentColor;
}

footer {
  border-top: 2px dotted;
  text-align: center;
}

header {
  border-bottom: .5em solid var(--theme-dark-line-color);
}

h1.banner {
    font-size:3em;
    margin: 0 auto 0 auto;
    color: var(--theme-main-font-color);

}
a.brand-logo {
    text-decoration: none;
}

.sidebar ul {
    margin-top:0;
}
.sidebar li.menuitem {
    list-style-type: none;
    text-decoration: none;
    font-weight:600;
    font-size:1.2em;
    line-height: 2em;
    color: var(--theme-main-font-color);
}

.sidebar  ul  {
    padding-inline-start: 1em;
    font-weight: bold;
}

.sidebar  ul  ul {
    font-weight: initial;
}

.site-description {
    font-family:"Roboto", sans-serif;
    font-weight: 600;
    color: var(--theme-main-font-color);
}
.template-homepage  main {
  text-align: center;
}

.articlesets {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    gap:3em;
}


.articletitle {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 2rem;
    color: var(--theme-headline-font-color);
}

.articleset {
    flex: 1 1 0;
    min-width:275px;
    padding-bottom:1em;
    border-top:1px solid var(--theme-dark-line-color)

}

.articlegroup {
    margin-bottom:2em;
}

.specarticlegroup .articletitle {
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 2.2rem;
    color: var(--theme-special-headline-font-color);
}

.specarticlegroup > div {
    flex: 1 1 0;
}

.article {
    padding-bottom:.5em;
    margin-bottom:1em;
    border-bottom: 1px dotted var(--theme-dark-line-color);
}

.articleimage {
    width:100%;
    text-align:center;
}


footer div.disclaimer {
    width:50%;
    margin: 1em auto;
    border:1px solid;
    border-color:var(--theme-dark-line-color)
}

form li {
    display:flex;
    width:100%;
}
form li label {
    width:10%;
}
form li :nth-child(2){
    width:60%;
}
form li .help_text {
    display:block;
    width:28%;
}
